.ListSliders {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--Primary);
    width: 100%;
}

.ListSliders h1 {
    margin: 40px;
}

.ListSliders .SlidersUnic {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--White);
    background-color: var(--Primary);
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

.ListSliders .SlidersUnic .text {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-start;
    width: 80%;
}
.ListSliders .SlidersUnic .text img {
    margin:5px;
}
.ListSliders .SlidersUnic .text h5 {
    margin:5px;
}
.ListSliders .SlidersUnic .button {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-end;
}
.ListSliders .SlidersUnic .button button {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    color: var(--Primary);
    background-color: var(--White);
    border-radius: 6px;
    padding: 8px;
    margin: 5px;
    border: none;
    font-size: 12px;
}

.ListSliders .SlidersUnic .button button:hover {
    background-color: var(--Blue);
    color: var(--White);
}
.ListSliders .SlidersUnic .button button svg {
    font-size:16px;
}


.ListSliders .link a {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    color: var(--White);
    background-color: var(--Primary);
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    border: none;
    text-decoration: none;
    font-weight: 700;
}

@media(max-width: 650px) {
    .ListSliders .SlidersUnic {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .ListSliders .SlidersUnic .text {
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
        width: 100%;
    }
}