.ListCourses {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
}

.ListCourses h1 {
    margin: 40px;
}

.ListCourses .CoursesUnic {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Primary);
    background-color: #fff;
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

.ListCourses .CoursesUnic .text {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}
.ListCourses .CoursesUnic .text select{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 6px;
    margin: 10px 0;
    border: 1px solid rgb(27, 0, 88);
    color: rgb(27, 0, 88);
    padding: 10px
}
.ListCourses .CoursesUnic .button {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:flex-end;
}
.ListCourses .CoursesUnic .button button {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    color: #fff;
    background-color: var(--Primary);
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 12px;
}
.ListCourses .link a {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    color: var(--Primary);
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    border: none;
    text-decoration: none;
    font-weight: 700;
}