.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
}

.about .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    width: 90%;
    padding:20px;
    background-color: rgb(21, 0, 42);
    border-radius: 6px;
    margin-top: 50px;
}
.about .items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction:row;
    width: 90%;
    padding:20px;
}

.about .items .section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction:column;
    width: 33%;
    height: 250px;
    padding:20px;
    background-color: rgb(21, 0, 42);
    border-radius: 6px;
    margin: 10px;
}

.about .section h1{
    color: rgb(255, 255, 255);
}
.about .section h3{
    color: rgb(255, 255, 255);
}

.about .section .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.about .section .text p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}
.about .section .text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.about .section .text2 p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}