.courseUnic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.courseUnic .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 50px 50px 0 50px;
    background-color:var(--Blue)
}
.courseUnic .title .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}
.courseUnic .title .text h1 {
    color: var(--Background2);
    font-size:80px;
}

.courseUnic .title .image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 20px;
}
.courseUnic .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color:#ccc
}
.courseUnic .menu .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 70%;
}
.courseUnic .menu .text p {
    color: var(--Background2);
    margin-right: 30px;
}
.courseUnic .menu button {
    background-color: var(--Magenta);
    padding: 20px 40px;
    border-radius: 6px;
    color: var(--White);
    border:none;
    margin: 0 40px ;
}
.courseUnic .aboutCourse {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color:var(--Background)
}
.courseUnic .aboutCourse .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
.courseUnic .aboutCourse .text h1 {
    margin-bottom: 20px
}

.courseUnic .aboutCourse .itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}
.courseUnic .aboutCourse .itens .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom:5px
}
.courseUnic .aboutCourse .itens .icon {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 0 20px;

}
.courseUnic .aboutCourse .itens .icon {
    font-size: 40px;
    color: var(--Blue);
}

.courseUnic .subscript {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color:var(--Background)
}
.courseUnic .subscript .image {
    width: 50%;
    height: 400px;
    object-fit: cover; 
}
.courseUnic .subscript .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.courseUnic .subscript .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color:var(--Magenta);
    padding: 60px;
}
.courseUnic .subscript .text h1 {
    font-weight: 400;
    color: var(--White);
    margin-bottom: 40px;
}
.courseUnic .subscript .text button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: var(--Background2);
    font-weight: 700;
}   
.courseUnic .grade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(7, 6, 38);
}   
.courseUnic .grade .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}   
.courseUnic .grade .text h1 {
    color: var(--White);
}   
.courseUnic .grade .text p{
    color: var(--White);
}   

.courseUnic .grade .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    padding: 20px;
}
.courseUnic .grade .list p {
    white-space: pre-line;
    color: var(--White);
    overflow:auto;  
}