.PostUnic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.PostUnic .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 50px 50px 0 50px;
    background-color:var(--Background)
    
}
.PostUnic .title .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 60px;
    color: var(--Primary);
}
.PostUnic .title .text h1 {
    font-size:40px;
}

.PostUnic .title .image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 20px;
}
.PostUnic .title .image img {
    margin-top: 20px;
}
.PostUnic .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color:#ccc
}
.PostUnic .menu .text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 70%;
}
.PostUnic .menu .text p {
    color: var(--Background2);
    margin-right: 30px;
}
.PostUnic .menu a {
    background-color: var(--Magenta);
    padding: 20px 40px;
    border-radius: 6px;
    color: var(--White);
    border:none;
    margin: 0 40px ;
    text-decoration: none;
}
.PostUnic .aboutCourse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 40px 20px;
    background-color:var(--Background)
}
.PostUnic .aboutCourse .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    white-space: pre-line;
}
.PostUnic .aboutCourse .text h1 {
    margin-bottom: 20px
}
.PostUnic .aboutCourse .text p {
    white-space: pre-line;
}
.PostUnic .aboutCourse .text p a {
    text-decoration: none;
    color: var(--Blue);
}

.PostUnic .aboutCourse .itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}
.PostUnic .aboutCourse .itens .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom:5px
}
.PostUnic .aboutCourse .itens .icon {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 0 20px;

}
.PostUnic .aboutCourse .itens .icon {
    font-size: 40px;
    color: var(--Blue);
}




.PostUnic .subscript {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color:var(--Background)
}
.PostUnic .subscript .image {
    width: 50%;
    height: 400px;
    object-fit: cover; 
}
.PostUnic .subscript .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.PostUnic .subscript .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color:var(--Magenta);
    padding: 100px;
}

.PostUnic .subscript .text .buttons {
    margin-top: 40px;
}
.PostUnic .subscript .text h1 {
    font-weight: 400;
    color: var(--White);
}
.PostUnic .subscript .text .buttons a {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: var(--Black);
    font-weight: 700;
    text-decoration: none;
    background-color: var(--White);
}  

.PostUnic .media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 20px;
    background-color: rgb(7, 6, 38);
}
.PostUnic .media h1{
    color: var(--Blue);
    margin: 20px;
}

.PostUnic .media video {
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 50%;
    border-radius: 10px;
}




.PostUnic .professional {
   display: flex;
   flex-direction:column;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   padding: 40px;                 
}
.PostUnic .professional h1 {
    font-size: 40px;
}
.PostUnic .professional .block {
    display: flex;
   flex-direction:row;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   padding: 20px 0;
}
.PostUnic .professional .block .icon{
    display: flex;
   flex-direction:row;
   align-items: flex-start;
   justify-content: center;
   width: 50px;
   padding: 20px 0;
}
.PostUnic .professional .block .icon svg{
   color: var(--Blue);
   font-size: 25px;
   margin: 0px 10px;
}
.PostUnic .professional .block .text{
    display: flex;
   flex-direction:row;
   align-items: flex-start;
   justify-content: center;
   width: 95%;
   padding: 20px 0;
   white-space: pre-line;
}
.PostUnic .occupationArea {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 40px;
    background-color:rgb(232, 232, 232);
}
.PostUnic .occupationArea h1 {
    font-size: 40px;
}
.PostUnic .occupationArea .block {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}
.PostUnic .occupationArea .block .icon{
    display: flex;
   flex-direction:row;
   align-items: flex-start;
   justify-content: center;
   width: 5%;
   padding: 20px 0;
}
.PostUnic .occupationArea .block .icon svg{
    color: var(--Blue);
    font-size: 25px;
 }
.PostUnic .occupationArea .block .text2{
    display: flex;
   flex-direction:row;
   align-items: center;
   justify-content: center;
   width: 95%;
   padding: 20px 0;
   white-space: pre-line;
}





.PostUnic .grade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(7, 6, 38);
    height: 300px;
}   
.PostUnic .grade .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 300px;
}   
.PostUnic .grade .text h1 {
    color: var(--Blue);
    font-size: 40px;
}   
.PostUnic .grade .text p{
    color: var(--White);
}   
.PostUnic .grade .text button {
    color: var(--White);
    background-color: var(--Blue);
    padding: 10px 20px;
    border-radius:20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}  


.PostUnic .grade .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: 300px;
}
.PostUnic .grade .list .image {
    width: 100% ;
    height: 300px; 
    object-fit: cover;          
}
.PostUnic .grade .list .image img {
    width: 100% ;
    height: 300px; 
    object-fit: cover;
}





@media(max-width:850px) {
    .PostUnic .title .text {
        margin: 30px 0;
        width: 100%;
    }
    .PostUnic .title .text h1 {
        font-size:30px;
    }
    
    .PostUnic .title .image {
        display: none;
    }


    .PostUnic .menu  {
        display: none;
    }

    .PostUnic .menu button {
        background-color: var(--Magenta);
        padding: 20px 40px;
        border-radius: 6px;
        color: var(--White);
        border:none;
        margin: 0 40px ;
    }


    .PostUnic .aboutCourse {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    background-color:var(--Background)
}
.PostUnic .aboutCourse .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    white-space: pre-line;

}
.PostUnic .aboutCourse .text h1 {
    margin-bottom: 20px
}
.PostUnic .aboutCourse .text p {
    white-space: pre-line;
}

.PostUnic .aboutCourse .itens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.PostUnic .aboutCourse .itens .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom:5px
}
.PostUnic .aboutCourse .itens .icon {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 0 20px;

}
.PostUnic .aboutCourse .itens .icon {
    font-size: 40px;
    color: var(--Blue);
}

.PostUnic .subscript {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color:var(--Background)
}
.PostUnic .subscript .image {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    border-radius: 0 30px 0 0;
}
.PostUnic .subscript .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0 30px 0 0;
}
.PostUnic .subscript .text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color:var(--Magenta);
    padding: 40px 20px;
}
.PostUnic .subscript .text .buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
}

.PostUnic .subscript .text h1 {
    font-weight: 400;
    color: var(--White);
    font-size: 25px;
    margin-bottom: 40px;
    
}
   

.PostUnic .subscript .text .buttons button {
    background-color: var(--Magenta);
    padding: 20px 40px;
    border-radius: 6px;
    color: var(--White);
    border:none;
    margin:40px 0;
    text-decoration: none;
}




 
.PostUnic .grade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(7, 6, 38);
    height: 300px;
}   
.PostUnic .grade .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
}   
.PostUnic .grade .text h1 {
    color: var(--Blue);
    font-size: 40px;
}   
.PostUnic .grade .text p{
    color: var(--White);
}   
.PostUnic .grade .text button {
    color: var(--White);
    background-color: var(--Blue);
    padding: 10px 20px;
    border-radius:20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}  


.PostUnic .grade .list {
    display: none;
}


}







.content-modal .itensModal {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    border: none;
    overflow-y: scroll;
    text-decoration: none;
    margin:10px 0;
    padding: 10px 0;
    color: var(--White);
}
.content-modal .itensModal p{
    white-space: pre-line;
    line-height: 25px;
}



.content-modal .itensModal::-webkit-scrollbar {
    width: 12px;  
    border-radius: 20px;            
  }
  
 .content-modal .itensModal::-webkit-scrollbar-track {
    background: var(--Background); 
    border-radius: 20px;       
  }
  
 .content-modal .itensModal::-webkit-scrollbar-thumb {
    background-color: var(--Primary);   
    border-radius: 20px;      
    border: 3px solid var(--Background); 
  }