*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Background: #f8f8f8;
  --Background2: #111111;
  --Primary: #512a79;
  --Yellow: #fcc301;
  --Magenta: #f05b68;
  --Blue: #00afab;
  --Black: #000000;
  --White: #ffffff;
}

body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--Background);
}

button {
  cursor: pointer;
}

textarea {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}