*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Primary: rgb(27, 0, 54);
  --Black: #181818;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--Primary);
}

button {
  cursor: pointer;
}

textarea {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}